<!--<div *ngFor="let item of imgSource;let itemIndex = index">
  <img  src='{{ item }}' alt="" />

</div>-->

<!--<div [ngGrid]="{'resizeable': false, 'margins': [5, 10]}">
    <div *ngFor="let item of imgSource" [(ngGridItem)]="box.config">
        <div class="title"><img  src='{{ item }}' alt="" /></div>
        <p>{{box.text}}</p>
    </div>
</div>-->

<!--<div class="grid" [ngGrid]="{'cols': 5, 'rows': 5, 'col_width': 50, 'row_width': 50,'auto_resize': false, 'fix_to_grid': false }">
  <div class="grid-item" [ngGridItem]="{'sizex': 1, 'sizey': 1, 'col': item.xPos, 'row': item.yPos}" *ngFor="let item of imgSource; let itemIndex = index">
<img  src='{{ item.img }}' alt="" />idx: {{itemIndex}}, xPos: {{item.xPos}}, yPos: {{item.yPos}}
  </div>
</div>-->
<md-toolbar color="primary">
  <span>  {{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span></span>
</md-toolbar>
<br>
<md-card>
  <md-card-content>
    <div class="flex-container">
      <div class="flex-item" *ngFor="let item of imgSource">
        <img (click)="iconSelected(item)" *ngIf="item.isRevealed" src='{{ item.pattern }}' alt="" />
        <img (click)="iconSelected(item)" *ngIf="!item.isRevealed" src='{{ cover }}' alt="" />
      </div>

    </div>
    <br>
    <div class="flex-container">
      <div class="flex-item">
        <h3>First Item</h3>
        <img src='{{ firstItem.pattern }}' alt="" />
      </div>
      <br>
      <div class="flex-item">
        <h3>Second Item</h3>
        <img src='{{ secondItem.pattern }}' alt="" />
      </div>
    </div>

  </md-card-content>
  <md-card-actions>
    <button md-fab (click)="createIcons()">
  New
  </button>
  </md-card-actions>
</md-card>
<div class="demo-grid-list">
  <md-grid-list cols="4" rowHeight="50px">
    <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>
</div>



<!--idx: {{itemIndex}}, xPos: {{item.xPos}}, yPos: {{item.yPos}}-->